{% extends 'base.html.twig' %}

{% block title %}New Qrcode{% endblock %}

{% block body %}
    <h1>Create new Qrcode</h1>
<div class="row mt-5">
    <div class="col-md-9">
        <div class="card">
            <div class="card-body">
                <turbo-frame id="the_frame_show_qrcode">
                    {{ include('pages/qrcode/_form.html.twig') }}
                </turbo-frame>
                <a href="{{ path('app_qrcode_index') }}">back to list</a>

            </div>

        </div>
    </div>
</div>

{% endblock %}
