{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}
{% set imgSrc = asset('images/frame.png') %}
{% if qrcode is not null %}
    {% set imgSrc = qrcodeSvg %}
{% endif %}
{% block body %}
    <div class="row mt-5">
        <div class="col-md-9">
            <div class="card">
                <div class="card-body">
                    {{ include('qrcode/_form.html.twig') }}
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <img src="{{ imgSrc }}" alt="qrcode" height="272" width="272"
                            class="card-img-top {% if qrcode is null %} opacity-25  {% endif %}">
                </div>
            </div>
        </div>

    </div>
{% endblock %}
